html, body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: var(--color-blue);
    max-width: 590px;
    margin:  auto;
    font-family: 'Press Start 2P', cursive;

    
}

@media screen and (max-width: 620px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}