.board-game {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    perspective: 400px;
    user-select: none;
}

.board-game.-freeze {
    pointer-events: none;
}


@media screen and (max-width: 650px) {
    .board-game {
        gap: max(10px, 3.1vw);
        padding: 1.5vw;
    }
}