:root {
    --color-pink: #D138BF;
    --color-pink-dark: #af039b;
    --color-blue: #7494EA;
    --color-yellow: #ffce47;
    --color-green: #6add27;
    --color-grey: #494947;

    --color-white: white;
    --color-black: black;
}